h1 {
    font-family: 'Shadows Into Light', cursive;
    color: #2B65EC;
    background-color: #EDB32B;
    text-align: center;
}
p {
    font-family: 'Crimson Text', serif;
    color: #493D26;
    text-align: justify;
}